pkgbase = arm-toolchain-for-embedded-bin
	pkgdesc = LLVM-based bare-metal compiler toolchain for Arm (ATfE, binary release)
	pkgver = 22.1.0
	pkgrel = 1
	url = https://github.com/arm/arm-toolchain
	install = arm-toolchain-for-embedded-bin.install
	arch = x86_64
	arch = aarch64
	license = Apache-2.0 WITH LLVM-exception
	depends = gcc-libs
	depends = glibc
	depends = libedit
	depends = zlib
	options = !strip
	options = !debug
	options = staticlibs
	source_x86_64 = https://github.com/arm/arm-toolchain/releases/download/release-22.1.0-ATfE/ATfE-22.1.0-Linux-x86_64.tar.xz
	sha256sums_x86_64 = e2e9e637bba097ba6e4bae6982883fe705ffd7e8c3a7dc876964835ef1c7a724
	source_aarch64 = https://github.com/arm/arm-toolchain/releases/download/release-22.1.0-ATfE/ATfE-22.1.0-Linux-AArch64.tar.xz
	sha256sums_aarch64 = ca73e75963bb90c4bc66d67b1875a05e120a8a4febf3db0ad5f09330fbffda17

pkgname = arm-toolchain-for-embedded-bin
